projektFeladat_WPF/Service References/NeptunServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_RemoveUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUser" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserById" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserId" />
  </wsdl:message>
  <wsdl:message name="IService_GetUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetTeachersFromUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeachersFromUsers" />
  </wsdl:message>
  <wsdl:message name="IService_GetTeachersFromUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeachersFromUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAppInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAppInfo" />
  </wsdl:message>
  <wsdl:message name="IService_GetAppInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAppInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllAdministrators_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAdministrators" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllAdministrators_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAdministratorsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAdministratorById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdministratorById" />
  </wsdl:message>
  <wsdl:message name="IService_GetAdministratorById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdministratorByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetIdOfAdministrator_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdOfAdministrator" />
  </wsdl:message>
  <wsdl:message name="IService_GetIdOfAdministrator_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdOfAdministratorResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveAdministrator_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAdministrator" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveAdministrator_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAdministratorResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveAdministratorById_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAdministratorById" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveAdministratorById_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAdministratorByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateAdministrator_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAdministrator" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateAdministrator_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAdministratorResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddExam_InputMessage">
    <wsdl:part name="parameters" element="tns:AddExam" />
  </wsdl:message>
  <wsdl:message name="IService_AddExam_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddExamResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllExams_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExams" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllExams_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExamsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetExamById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExamById" />
  </wsdl:message>
  <wsdl:message name="IService_GetExamById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExamByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetIdOfExam_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdOfExam" />
  </wsdl:message>
  <wsdl:message name="IService_GetIdOfExam_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdOfExamResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveExam_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveExam" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveExam_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveExamResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveExamById_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveExamById" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveExamById_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveExamByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateExam_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExam" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateExam_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExamResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddExamsUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddExamsUser" />
  </wsdl:message>
  <wsdl:message name="IService_AddExamsUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddExamsUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllExamsUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExamsUsers" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllExamsUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExamsUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetExamsUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExamsUserById" />
  </wsdl:message>
  <wsdl:message name="IService_GetExamsUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExamsUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetIdOfExamsUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdOfExamsUser" />
  </wsdl:message>
  <wsdl:message name="IService_GetIdOfExamsUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdOfExamsUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveExamsUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveExamsUser" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveExamsUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveExamsUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveExamsUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveExamsUserById" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveExamsUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveExamsUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetExamStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExamStudents" />
  </wsdl:message>
  <wsdl:message name="IService_GetExamStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExamStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetExamTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExamTeacher" />
  </wsdl:message>
  <wsdl:message name="IService_GetExamTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExamTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateExamsUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExamsUser" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateExamsUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExamsUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddGrade_InputMessage">
    <wsdl:part name="parameters" element="tns:AddGrade" />
  </wsdl:message>
  <wsdl:message name="IService_AddGrade_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddGradeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllGrades_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGrades" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllGrades_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGradesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetGradeById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGradeById" />
  </wsdl:message>
  <wsdl:message name="IService_GetGradeById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGradeByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetIdOfGrade_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdOfGrade" />
  </wsdl:message>
  <wsdl:message name="IService_GetIdOfGrade_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdOfGradeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveGrade_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveGrade" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveGrade_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveGradeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveGradeById_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveGradeById" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveGradeById_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveGradeByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateGrade_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGrade" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateGrade_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGradeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllManagers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllManagers" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllManagers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllManagersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetManagerById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetManagerById" />
  </wsdl:message>
  <wsdl:message name="IService_GetManagerById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetManagerByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetIdOfManager_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdOfManager" />
  </wsdl:message>
  <wsdl:message name="IService_GetIdOfManager_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdOfManagerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveManager_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveManager" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveManager_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveManagerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveManagerById_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveManagerById" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveManagerById_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveManagerByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateManager_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateManager" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateManager_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateManagerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMessage" />
  </wsdl:message>
  <wsdl:message name="IService_AddMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMessages" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetMessageById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageById" />
  </wsdl:message>
  <wsdl:message name="IService_GetMessageById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetIdOfMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdOfMessage" />
  </wsdl:message>
  <wsdl:message name="IService_GetIdOfMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdOfMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetReceivedMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReceivedMessages" />
  </wsdl:message>
  <wsdl:message name="IService_GetReceivedMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReceivedMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetSentMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSentMessages" />
  </wsdl:message>
  <wsdl:message name="IService_GetSentMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSentMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveMessage" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveMessageById_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveMessageById" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveMessageById_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveMessageByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMessage" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddSemester_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSemester" />
  </wsdl:message>
  <wsdl:message name="IService_AddSemester_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSemesterResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllSemesters_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSemesters" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllSemesters_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSemestersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetSemesterById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSemesterById" />
  </wsdl:message>
  <wsdl:message name="IService_GetSemesterById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSemesterByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetIdOfSemester_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdOfSemester" />
  </wsdl:message>
  <wsdl:message name="IService_GetIdOfSemester_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdOfSemesterResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveSemester_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSemester" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveSemester_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSemesterResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveSemesterById_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSemesterById" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveSemesterById_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSemesterByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateSemester_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSemester" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateSemester_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSemesterResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStudents" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetStudentById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentById" />
  </wsdl:message>
  <wsdl:message name="IService_GetStudentById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetIdOfStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdOfStudent" />
  </wsdl:message>
  <wsdl:message name="IService_GetIdOfStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdOfStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveStudent" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveStudentById_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveStudentById" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveStudentById_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveStudentByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudent" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddSubject_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSubject" />
  </wsdl:message>
  <wsdl:message name="IService_AddSubject_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllSubjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSubjects" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllSubjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSubjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetSubjectById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubjectById" />
  </wsdl:message>
  <wsdl:message name="IService_GetSubjectById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubjectByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetIdOfSubject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdOfSubject" />
  </wsdl:message>
  <wsdl:message name="IService_GetIdOfSubject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdOfSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveSubject_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSubject" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveSubject_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveSubjectById_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSubjectById" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveSubjectById_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSubjectByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateSubject_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSubject" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateSubject_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddSubjectsUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSubjectsUser" />
  </wsdl:message>
  <wsdl:message name="IService_AddSubjectsUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSubjectsUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllSubjectsUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSubjectsUsers" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllSubjectsUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSubjectsUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetRegisteredStudentsCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRegisteredStudentsCount" />
  </wsdl:message>
  <wsdl:message name="IService_GetRegisteredStudentsCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRegisteredStudentsCountResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetRegisteredTeachersCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRegisteredTeachersCount" />
  </wsdl:message>
  <wsdl:message name="IService_GetRegisteredTeachersCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRegisteredTeachersCountResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetSubjectTeacherName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubjectTeacherName" />
  </wsdl:message>
  <wsdl:message name="IService_GetSubjectTeacherName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubjectTeacherNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetSubjectsUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubjectsUserById" />
  </wsdl:message>
  <wsdl:message name="IService_GetSubjectsUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubjectsUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetIdOfSubjectsUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdOfSubjectsUser" />
  </wsdl:message>
  <wsdl:message name="IService_GetIdOfSubjectsUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdOfSubjectsUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RegisterUserToSubject_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserToSubject" />
  </wsdl:message>
  <wsdl:message name="IService_RegisterUserToSubject_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserToSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveSubjectsUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSubjectsUser" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveSubjectsUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSubjectsUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveSubjectsUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSubjectsUserById" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveSubjectsUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSubjectsUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateSubjectsUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSubjectsUser" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateSubjectsUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSubjectsUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllTeachers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTeachers" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllTeachers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTeachersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetTeacherById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherById" />
  </wsdl:message>
  <wsdl:message name="IService_GetTeacherById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetIdOfTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdOfTeacher" />
  </wsdl:message>
  <wsdl:message name="IService_GetIdOfTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdOfTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTeacher" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveTeacherById_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTeacherById" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveTeacherById_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTeacherByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTeacher" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserById" />
  </wsdl:message>
  <wsdl:message name="IService_GetUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetIdOfUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdOfUser" />
  </wsdl:message>
  <wsdl:message name="IService_GetIdOfUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdOfUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="RemoveUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemoveUser" message="tns:IService_RemoveUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemoveUserResponse" message="tns:IService_RemoveUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemoveUserById" message="tns:IService_RemoveUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemoveUserByIdResponse" message="tns:IService_RemoveUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetUserId" message="tns:IService_GetUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetUserIdResponse" message="tns:IService_GetUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeachersFromUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetTeachersFromUsers" message="tns:IService_GetTeachersFromUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetTeachersFromUsersResponse" message="tns:IService_GetTeachersFromUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Login" message="tns:IService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/LoginResponse" message="tns:IService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateUser" message="tns:IService_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateUserResponse" message="tns:IService_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAppInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAppInfo" message="tns:IService_GetAppInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAppInfoResponse" message="tns:IService_GetAppInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAdministrators">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllAdministrators" message="tns:IService_GetAllAdministrators_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllAdministratorsResponse" message="tns:IService_GetAllAdministrators_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdministratorById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAdministratorById" message="tns:IService_GetAdministratorById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAdministratorByIdResponse" message="tns:IService_GetAdministratorById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdOfAdministrator">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetIdOfAdministrator" message="tns:IService_GetIdOfAdministrator_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetIdOfAdministratorResponse" message="tns:IService_GetIdOfAdministrator_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveAdministrator">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemoveAdministrator" message="tns:IService_RemoveAdministrator_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemoveAdministratorResponse" message="tns:IService_RemoveAdministrator_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveAdministratorById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemoveAdministratorById" message="tns:IService_RemoveAdministratorById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemoveAdministratorByIdResponse" message="tns:IService_RemoveAdministratorById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAdministrator">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateAdministrator" message="tns:IService_UpdateAdministrator_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateAdministratorResponse" message="tns:IService_UpdateAdministrator_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddExam">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddExam" message="tns:IService_AddExam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddExamResponse" message="tns:IService_AddExam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllExams">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllExams" message="tns:IService_GetAllExams_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllExamsResponse" message="tns:IService_GetAllExams_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExamById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetExamById" message="tns:IService_GetExamById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetExamByIdResponse" message="tns:IService_GetExamById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdOfExam">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetIdOfExam" message="tns:IService_GetIdOfExam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetIdOfExamResponse" message="tns:IService_GetIdOfExam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveExam">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemoveExam" message="tns:IService_RemoveExam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemoveExamResponse" message="tns:IService_RemoveExam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveExamById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemoveExamById" message="tns:IService_RemoveExamById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemoveExamByIdResponse" message="tns:IService_RemoveExamById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateExam">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateExam" message="tns:IService_UpdateExam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateExamResponse" message="tns:IService_UpdateExam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddExamsUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddExamsUser" message="tns:IService_AddExamsUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddExamsUserResponse" message="tns:IService_AddExamsUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllExamsUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllExamsUsers" message="tns:IService_GetAllExamsUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllExamsUsersResponse" message="tns:IService_GetAllExamsUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExamsUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetExamsUserById" message="tns:IService_GetExamsUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetExamsUserByIdResponse" message="tns:IService_GetExamsUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdOfExamsUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetIdOfExamsUser" message="tns:IService_GetIdOfExamsUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetIdOfExamsUserResponse" message="tns:IService_GetIdOfExamsUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveExamsUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemoveExamsUser" message="tns:IService_RemoveExamsUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemoveExamsUserResponse" message="tns:IService_RemoveExamsUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveExamsUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemoveExamsUserById" message="tns:IService_RemoveExamsUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemoveExamsUserByIdResponse" message="tns:IService_RemoveExamsUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExamStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetExamStudents" message="tns:IService_GetExamStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetExamStudentsResponse" message="tns:IService_GetExamStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExamTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetExamTeacher" message="tns:IService_GetExamTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetExamTeacherResponse" message="tns:IService_GetExamTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateExamsUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateExamsUser" message="tns:IService_UpdateExamsUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateExamsUserResponse" message="tns:IService_UpdateExamsUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddGrade">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddGrade" message="tns:IService_AddGrade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddGradeResponse" message="tns:IService_AddGrade_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllGrades">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllGrades" message="tns:IService_GetAllGrades_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllGradesResponse" message="tns:IService_GetAllGrades_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGradeById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetGradeById" message="tns:IService_GetGradeById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetGradeByIdResponse" message="tns:IService_GetGradeById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdOfGrade">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetIdOfGrade" message="tns:IService_GetIdOfGrade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetIdOfGradeResponse" message="tns:IService_GetIdOfGrade_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveGrade">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemoveGrade" message="tns:IService_RemoveGrade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemoveGradeResponse" message="tns:IService_RemoveGrade_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveGradeById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemoveGradeById" message="tns:IService_RemoveGradeById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemoveGradeByIdResponse" message="tns:IService_RemoveGradeById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGrade">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateGrade" message="tns:IService_UpdateGrade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateGradeResponse" message="tns:IService_UpdateGrade_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllManagers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllManagers" message="tns:IService_GetAllManagers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllManagersResponse" message="tns:IService_GetAllManagers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetManagerById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetManagerById" message="tns:IService_GetManagerById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetManagerByIdResponse" message="tns:IService_GetManagerById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdOfManager">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetIdOfManager" message="tns:IService_GetIdOfManager_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetIdOfManagerResponse" message="tns:IService_GetIdOfManager_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveManager">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemoveManager" message="tns:IService_RemoveManager_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemoveManagerResponse" message="tns:IService_RemoveManager_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveManagerById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemoveManagerById" message="tns:IService_RemoveManagerById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemoveManagerByIdResponse" message="tns:IService_RemoveManagerById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateManager">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateManager" message="tns:IService_UpdateManager_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateManagerResponse" message="tns:IService_UpdateManager_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddMessage" message="tns:IService_AddMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddMessageResponse" message="tns:IService_AddMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllMessages" message="tns:IService_GetAllMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllMessagesResponse" message="tns:IService_GetAllMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessageById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetMessageById" message="tns:IService_GetMessageById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetMessageByIdResponse" message="tns:IService_GetMessageById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdOfMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetIdOfMessage" message="tns:IService_GetIdOfMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetIdOfMessageResponse" message="tns:IService_GetIdOfMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReceivedMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetReceivedMessages" message="tns:IService_GetReceivedMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetReceivedMessagesResponse" message="tns:IService_GetReceivedMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSentMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSentMessages" message="tns:IService_GetSentMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSentMessagesResponse" message="tns:IService_GetSentMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemoveMessage" message="tns:IService_RemoveMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemoveMessageResponse" message="tns:IService_RemoveMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveMessageById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemoveMessageById" message="tns:IService_RemoveMessageById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemoveMessageByIdResponse" message="tns:IService_RemoveMessageById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateMessage" message="tns:IService_UpdateMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateMessageResponse" message="tns:IService_UpdateMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSemester">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddSemester" message="tns:IService_AddSemester_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddSemesterResponse" message="tns:IService_AddSemester_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSemesters">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllSemesters" message="tns:IService_GetAllSemesters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllSemestersResponse" message="tns:IService_GetAllSemesters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSemesterById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSemesterById" message="tns:IService_GetSemesterById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSemesterByIdResponse" message="tns:IService_GetSemesterById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdOfSemester">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetIdOfSemester" message="tns:IService_GetIdOfSemester_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetIdOfSemesterResponse" message="tns:IService_GetIdOfSemester_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveSemester">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemoveSemester" message="tns:IService_RemoveSemester_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemoveSemesterResponse" message="tns:IService_RemoveSemester_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveSemesterById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemoveSemesterById" message="tns:IService_RemoveSemesterById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemoveSemesterByIdResponse" message="tns:IService_RemoveSemesterById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSemester">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateSemester" message="tns:IService_UpdateSemester_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateSemesterResponse" message="tns:IService_UpdateSemester_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllStudents" message="tns:IService_GetAllStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllStudentsResponse" message="tns:IService_GetAllStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetStudentById" message="tns:IService_GetStudentById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetStudentByIdResponse" message="tns:IService_GetStudentById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdOfStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetIdOfStudent" message="tns:IService_GetIdOfStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetIdOfStudentResponse" message="tns:IService_GetIdOfStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemoveStudent" message="tns:IService_RemoveStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemoveStudentResponse" message="tns:IService_RemoveStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveStudentById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemoveStudentById" message="tns:IService_RemoveStudentById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemoveStudentByIdResponse" message="tns:IService_RemoveStudentById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateStudent" message="tns:IService_UpdateStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateStudentResponse" message="tns:IService_UpdateStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSubject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddSubject" message="tns:IService_AddSubject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddSubjectResponse" message="tns:IService_AddSubject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSubjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllSubjects" message="tns:IService_GetAllSubjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllSubjectsResponse" message="tns:IService_GetAllSubjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubjectById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSubjectById" message="tns:IService_GetSubjectById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSubjectByIdResponse" message="tns:IService_GetSubjectById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdOfSubject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetIdOfSubject" message="tns:IService_GetIdOfSubject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetIdOfSubjectResponse" message="tns:IService_GetIdOfSubject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveSubject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemoveSubject" message="tns:IService_RemoveSubject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemoveSubjectResponse" message="tns:IService_RemoveSubject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveSubjectById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemoveSubjectById" message="tns:IService_RemoveSubjectById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemoveSubjectByIdResponse" message="tns:IService_RemoveSubjectById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSubject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateSubject" message="tns:IService_UpdateSubject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateSubjectResponse" message="tns:IService_UpdateSubject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSubjectsUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddSubjectsUser" message="tns:IService_AddSubjectsUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddSubjectsUserResponse" message="tns:IService_AddSubjectsUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSubjectsUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllSubjectsUsers" message="tns:IService_GetAllSubjectsUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllSubjectsUsersResponse" message="tns:IService_GetAllSubjectsUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRegisteredStudentsCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetRegisteredStudentsCount" message="tns:IService_GetRegisteredStudentsCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetRegisteredStudentsCountResponse" message="tns:IService_GetRegisteredStudentsCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRegisteredTeachersCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetRegisteredTeachersCount" message="tns:IService_GetRegisteredTeachersCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetRegisteredTeachersCountResponse" message="tns:IService_GetRegisteredTeachersCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubjectTeacherName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSubjectTeacherName" message="tns:IService_GetSubjectTeacherName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSubjectTeacherNameResponse" message="tns:IService_GetSubjectTeacherName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubjectsUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSubjectsUserById" message="tns:IService_GetSubjectsUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSubjectsUserByIdResponse" message="tns:IService_GetSubjectsUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdOfSubjectsUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetIdOfSubjectsUser" message="tns:IService_GetIdOfSubjectsUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetIdOfSubjectsUserResponse" message="tns:IService_GetIdOfSubjectsUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUserToSubject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RegisterUserToSubject" message="tns:IService_RegisterUserToSubject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RegisterUserToSubjectResponse" message="tns:IService_RegisterUserToSubject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveSubjectsUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemoveSubjectsUser" message="tns:IService_RemoveSubjectsUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemoveSubjectsUserResponse" message="tns:IService_RemoveSubjectsUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveSubjectsUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemoveSubjectsUserById" message="tns:IService_RemoveSubjectsUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemoveSubjectsUserByIdResponse" message="tns:IService_RemoveSubjectsUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSubjectsUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateSubjectsUser" message="tns:IService_UpdateSubjectsUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateSubjectsUserResponse" message="tns:IService_UpdateSubjectsUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTeachers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllTeachers" message="tns:IService_GetAllTeachers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllTeachersResponse" message="tns:IService_GetAllTeachers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeacherById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetTeacherById" message="tns:IService_GetTeacherById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetTeacherByIdResponse" message="tns:IService_GetTeacherById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdOfTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetIdOfTeacher" message="tns:IService_GetIdOfTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetIdOfTeacherResponse" message="tns:IService_GetIdOfTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemoveTeacher" message="tns:IService_RemoveTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemoveTeacherResponse" message="tns:IService_RemoveTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveTeacherById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemoveTeacherById" message="tns:IService_RemoveTeacherById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemoveTeacherByIdResponse" message="tns:IService_RemoveTeacherById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateTeacher" message="tns:IService_UpdateTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateTeacherResponse" message="tns:IService_UpdateTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddUser" message="tns:IService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddUserResponse" message="tns:IService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllUsers" message="tns:IService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllUsersResponse" message="tns:IService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetUserById" message="tns:IService_GetUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetUserByIdResponse" message="tns:IService_GetUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdOfUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetIdOfUser" message="tns:IService_GetIdOfUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetIdOfUserResponse" message="tns:IService_GetIdOfUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceEndpoint" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RemoveUser">
      <soap:operation soapAction="http://tempuri.org/IService/RemoveUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserById">
      <soap:operation soapAction="http://tempuri.org/IService/RemoveUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserId">
      <soap:operation soapAction="http://tempuri.org/IService/GetUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeachersFromUsers">
      <soap:operation soapAction="http://tempuri.org/IService/GetTeachersFromUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppInfo">
      <soap:operation soapAction="http://tempuri.org/IService/GetAppInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAdministrators">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllAdministrators" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdministratorById">
      <soap:operation soapAction="http://tempuri.org/IService/GetAdministratorById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdOfAdministrator">
      <soap:operation soapAction="http://tempuri.org/IService/GetIdOfAdministrator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAdministrator">
      <soap:operation soapAction="http://tempuri.org/IService/RemoveAdministrator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAdministratorById">
      <soap:operation soapAction="http://tempuri.org/IService/RemoveAdministratorById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAdministrator">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateAdministrator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddExam">
      <soap:operation soapAction="http://tempuri.org/IService/AddExam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllExams">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllExams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExamById">
      <soap:operation soapAction="http://tempuri.org/IService/GetExamById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdOfExam">
      <soap:operation soapAction="http://tempuri.org/IService/GetIdOfExam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveExam">
      <soap:operation soapAction="http://tempuri.org/IService/RemoveExam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveExamById">
      <soap:operation soapAction="http://tempuri.org/IService/RemoveExamById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateExam">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateExam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddExamsUser">
      <soap:operation soapAction="http://tempuri.org/IService/AddExamsUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllExamsUsers">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllExamsUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExamsUserById">
      <soap:operation soapAction="http://tempuri.org/IService/GetExamsUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdOfExamsUser">
      <soap:operation soapAction="http://tempuri.org/IService/GetIdOfExamsUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveExamsUser">
      <soap:operation soapAction="http://tempuri.org/IService/RemoveExamsUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveExamsUserById">
      <soap:operation soapAction="http://tempuri.org/IService/RemoveExamsUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExamStudents">
      <soap:operation soapAction="http://tempuri.org/IService/GetExamStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExamTeacher">
      <soap:operation soapAction="http://tempuri.org/IService/GetExamTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateExamsUser">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateExamsUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGrade">
      <soap:operation soapAction="http://tempuri.org/IService/AddGrade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGrades">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllGrades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGradeById">
      <soap:operation soapAction="http://tempuri.org/IService/GetGradeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdOfGrade">
      <soap:operation soapAction="http://tempuri.org/IService/GetIdOfGrade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveGrade">
      <soap:operation soapAction="http://tempuri.org/IService/RemoveGrade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveGradeById">
      <soap:operation soapAction="http://tempuri.org/IService/RemoveGradeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGrade">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateGrade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllManagers">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllManagers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManagerById">
      <soap:operation soapAction="http://tempuri.org/IService/GetManagerById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdOfManager">
      <soap:operation soapAction="http://tempuri.org/IService/GetIdOfManager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveManager">
      <soap:operation soapAction="http://tempuri.org/IService/RemoveManager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveManagerById">
      <soap:operation soapAction="http://tempuri.org/IService/RemoveManagerById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateManager">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateManager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMessage">
      <soap:operation soapAction="http://tempuri.org/IService/AddMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMessages">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessageById">
      <soap:operation soapAction="http://tempuri.org/IService/GetMessageById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdOfMessage">
      <soap:operation soapAction="http://tempuri.org/IService/GetIdOfMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceivedMessages">
      <soap:operation soapAction="http://tempuri.org/IService/GetReceivedMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSentMessages">
      <soap:operation soapAction="http://tempuri.org/IService/GetSentMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveMessage">
      <soap:operation soapAction="http://tempuri.org/IService/RemoveMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveMessageById">
      <soap:operation soapAction="http://tempuri.org/IService/RemoveMessageById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMessage">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSemester">
      <soap:operation soapAction="http://tempuri.org/IService/AddSemester" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSemesters">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllSemesters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSemesterById">
      <soap:operation soapAction="http://tempuri.org/IService/GetSemesterById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdOfSemester">
      <soap:operation soapAction="http://tempuri.org/IService/GetIdOfSemester" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveSemester">
      <soap:operation soapAction="http://tempuri.org/IService/RemoveSemester" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveSemesterById">
      <soap:operation soapAction="http://tempuri.org/IService/RemoveSemesterById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSemester">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateSemester" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStudents">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentById">
      <soap:operation soapAction="http://tempuri.org/IService/GetStudentById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdOfStudent">
      <soap:operation soapAction="http://tempuri.org/IService/GetIdOfStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveStudent">
      <soap:operation soapAction="http://tempuri.org/IService/RemoveStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveStudentById">
      <soap:operation soapAction="http://tempuri.org/IService/RemoveStudentById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStudent">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSubject">
      <soap:operation soapAction="http://tempuri.org/IService/AddSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSubjects">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllSubjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubjectById">
      <soap:operation soapAction="http://tempuri.org/IService/GetSubjectById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdOfSubject">
      <soap:operation soapAction="http://tempuri.org/IService/GetIdOfSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveSubject">
      <soap:operation soapAction="http://tempuri.org/IService/RemoveSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveSubjectById">
      <soap:operation soapAction="http://tempuri.org/IService/RemoveSubjectById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSubject">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSubjectsUser">
      <soap:operation soapAction="http://tempuri.org/IService/AddSubjectsUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSubjectsUsers">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllSubjectsUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegisteredStudentsCount">
      <soap:operation soapAction="http://tempuri.org/IService/GetRegisteredStudentsCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegisteredTeachersCount">
      <soap:operation soapAction="http://tempuri.org/IService/GetRegisteredTeachersCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubjectTeacherName">
      <soap:operation soapAction="http://tempuri.org/IService/GetSubjectTeacherName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubjectsUserById">
      <soap:operation soapAction="http://tempuri.org/IService/GetSubjectsUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdOfSubjectsUser">
      <soap:operation soapAction="http://tempuri.org/IService/GetIdOfSubjectsUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUserToSubject">
      <soap:operation soapAction="http://tempuri.org/IService/RegisterUserToSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveSubjectsUser">
      <soap:operation soapAction="http://tempuri.org/IService/RemoveSubjectsUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveSubjectsUserById">
      <soap:operation soapAction="http://tempuri.org/IService/RemoveSubjectsUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSubjectsUser">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateSubjectsUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTeachers">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllTeachers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeacherById">
      <soap:operation soapAction="http://tempuri.org/IService/GetTeacherById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdOfTeacher">
      <soap:operation soapAction="http://tempuri.org/IService/GetIdOfTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveTeacher">
      <soap:operation soapAction="http://tempuri.org/IService/RemoveTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveTeacherById">
      <soap:operation soapAction="http://tempuri.org/IService/RemoveTeacherById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTeacher">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <soap:operation soapAction="http://tempuri.org/IService/GetUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdOfUser">
      <soap:operation soapAction="http://tempuri.org/IService/GetIdOfUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceEndpoint" binding="tns:ServiceEndpoint">
      <soap:address location="http://localhost:12345/Service" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>