projektFeladat_WPF/Service References/NeptunServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" />
  <xs:element name="RemoveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToRemove" nillable="true" type="q1:Users" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityToRemoveById" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="user" nillable="true" type="q2:Users" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeachersFromUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeachersFromUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetTeachersFromUsersResult" nillable="true" type="q3:ArrayOfUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eduId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToUpdate" nillable="true" type="q4:Users" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetAppInfoResult" nillable="true" type="q5:AppInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAdministrators">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAdministratorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetAllAdministratorsResult" nillable="true" type="q6:ArrayOfAdministrators" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdministratorById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityToGetById" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdministratorByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetAdministratorByIdResult" nillable="true" type="q7:Administrators" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdOfAdministrator">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToGetId" nillable="true" type="q8:Administrators" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdOfAdministratorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIdOfAdministratorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAdministrator">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToRemove" nillable="true" type="q9:Administrators" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAdministratorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAdministratorById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityToRemoveById" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAdministratorByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAdministrator">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToUpdate" nillable="true" type="q10:Administrators" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAdministratorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToAdd" nillable="true" type="q11:Exams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllExams">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllExamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetAllExamsResult" nillable="true" type="q12:ArrayOfExams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExamById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityToGetById" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExamByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetExamByIdResult" nillable="true" type="q13:Exams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdOfExam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToGetId" nillable="true" type="q14:Exams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdOfExamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIdOfExamResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveExam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToRemove" nillable="true" type="q15:Exams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveExamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveExamById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityToRemoveById" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveExamByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToUpdate" nillable="true" type="q16:Exams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExamsUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToAdd" nillable="true" type="q17:ExamsUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExamsUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllExamsUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllExamsUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetAllExamsUsersResult" nillable="true" type="q18:ArrayOfExamsUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExamsUserById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityToGetById" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExamsUserByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetExamsUserByIdResult" nillable="true" type="q19:ExamsUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdOfExamsUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToGetId" nillable="true" type="q20:ExamsUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdOfExamsUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIdOfExamsUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveExamsUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToRemove" nillable="true" type="q21:ExamsUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveExamsUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveExamsUserById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityToRemoveById" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveExamsUserByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExamStudents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="examId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExamStudentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetExamStudentsResult" nillable="true" type="q22:ArrayOfUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExamTeacher">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="examId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExamTeacherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetExamTeacherResult" nillable="true" type="q23:Users" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExamsUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToUpdate" nillable="true" type="q24:ExamsUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExamsUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGrade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToAdd" nillable="true" type="q25:Grades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGradeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGrades">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGradesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetAllGradesResult" nillable="true" type="q26:ArrayOfGrades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGradeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityToGetById" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGradeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetGradeByIdResult" nillable="true" type="q27:Grades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdOfGrade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToGetId" nillable="true" type="q28:Grades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdOfGradeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIdOfGradeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveGrade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToRemove" nillable="true" type="q29:Grades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveGradeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveGradeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityToRemoveById" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveGradeByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGrade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToUpdate" nillable="true" type="q30:Grades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGradeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllManagers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllManagersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetAllManagersResult" nillable="true" type="q31:ArrayOfManagers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManagerById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityToGetById" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManagerByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetManagerByIdResult" nillable="true" type="q32:Managers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdOfManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToGetId" nillable="true" type="q33:Managers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdOfManagerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIdOfManagerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToRemove" nillable="true" type="q34:Managers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveManagerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveManagerById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityToRemoveById" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveManagerByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToUpdate" nillable="true" type="q35:Managers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateManagerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToAdd" nillable="true" type="q36:Messages" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMessages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetAllMessagesResult" nillable="true" type="q37:ArrayOfMessages" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityToGetById" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetMessageByIdResult" nillable="true" type="q38:Messages" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdOfMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToGetId" nillable="true" type="q39:Messages" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdOfMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIdOfMessageResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReceivedMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReceivedMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetReceivedMessagesResult" nillable="true" type="q40:ArrayOfMessages" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSentMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSentMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetSentMessagesResult" nillable="true" type="q41:ArrayOfMessages" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToRemove" nillable="true" type="q42:Messages" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMessageById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityToRemoveById" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMessageByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToUpdate" nillable="true" type="q43:Messages" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSemester">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToAdd" nillable="true" type="q44:Semesters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSemesterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSemesters">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSemestersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetAllSemestersResult" nillable="true" type="q45:ArrayOfSemesters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSemesterById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityToGetById" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSemesterByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetSemesterByIdResult" nillable="true" type="q46:Semesters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdOfSemester">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToGetId" nillable="true" type="q47:Semesters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdOfSemesterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIdOfSemesterResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSemester">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToRemove" nillable="true" type="q48:Semesters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSemesterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSemesterById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityToRemoveById" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSemesterByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSemester">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToUpdate" nillable="true" type="q49:Semesters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSemesterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStudents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStudentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetAllStudentsResult" nillable="true" type="q50:ArrayOfStudents" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityToGetById" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetStudentByIdResult" nillable="true" type="q51:Students" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdOfStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToGetId" nillable="true" type="q52:Students" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdOfStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIdOfStudentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToRemove" nillable="true" type="q53:Students" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveStudentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveStudentById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityToRemoveById" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveStudentByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToUpdate" nillable="true" type="q54:Students" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStudentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToAdd" nillable="true" type="q55:Subjects" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSubjects">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSubjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetAllSubjectsResult" nillable="true" type="q56:ArrayOfSubjects" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityToGetById" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetSubjectByIdResult" nillable="true" type="q57:Subjects" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdOfSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToGetId" nillable="true" type="q58:Subjects" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdOfSubjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIdOfSubjectResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToRemove" nillable="true" type="q59:Subjects" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSubjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSubjectById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityToRemoveById" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSubjectByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToUpdate" nillable="true" type="q60:Subjects" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSubjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubjectsUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToAdd" nillable="true" type="q61:SubjectsUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubjectsUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSubjectsUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSubjectsUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetAllSubjectsUsersResult" nillable="true" type="q62:ArrayOfSubjectsUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegisteredStudentsCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="subject" nillable="true" type="q63:Subjects" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegisteredStudentsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRegisteredStudentsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegisteredTeachersCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="subject" nillable="true" type="q64:Subjects" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegisteredTeachersCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRegisteredTeachersCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectTeacherName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="subject" nillable="true" type="q65:Subjects" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectTeacherNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSubjectTeacherNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectsUserById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityToGetById" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectsUserByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetSubjectsUserByIdResult" nillable="true" type="q66:SubjectsUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdOfSubjectsUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToGetId" nillable="true" type="q67:SubjectsUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdOfSubjectsUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIdOfSubjectsUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUserToSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="user" nillable="true" type="q68:Users" />
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="subject" nillable="true" type="q69:Subjects" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUserToSubjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSubjectsUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToRemove" nillable="true" type="q70:SubjectsUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSubjectsUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSubjectsUserById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityToRemoveById" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSubjectsUserByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSubjectsUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToUpdate" nillable="true" type="q71:SubjectsUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSubjectsUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTeachers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTeachersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetAllTeachersResult" nillable="true" type="q72:ArrayOfTeachers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeacherById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityToGetById" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeacherByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetTeacherByIdResult" nillable="true" type="q73:Teachers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdOfTeacher">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToGetId" nillable="true" type="q74:Teachers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdOfTeacherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIdOfTeacherResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTeacher">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToRemove" nillable="true" type="q75:Teachers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTeacherResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTeacherById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityToRemoveById" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTeacherByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTeacher">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToUpdate" nillable="true" type="q76:Teachers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTeacherResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToAdd" nillable="true" type="q77:Users" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q78:ArrayOfUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityToGetById" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetUserByIdResult" nillable="true" type="q79:Users" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdOfUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="entityToGetId" nillable="true" type="q80:Users" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdOfUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIdOfUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>